
.modal-body .role-selection-prompt {
  margin-bottom: 1.5rem;
  color: #adb5bd;
}

.modal-body .roles-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; 
}

.modal-body .role-label {
  display: flex;
  align-items: center; 
  gap: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.modal-body .role-checkbox {
  margin: 0; 
  width: 18px;
  height: 18px;
  flex-shrink: 0; 
  cursor: pointer;
}

.modal-body .role-name {
  line-height: 1; 
}


.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.button-primary {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.button-primary:hover {
  background-color: #0b5ed7;
}

.button-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}
.button-secondary:hover {
  background-color: #5a6268;
}