/* src/components/admin/TicketTypeModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #212529;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  color: #f8f9fa;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #495057;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.modal-header h2 {
  font-size: 1.5rem;
}

.modal-close-button {
  background: none;
  border: none;
  color: #f8f9fa;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body .form-group {
  margin-bottom: 1rem;
}